.Login{
    display: flex;
    justify-content: center;
}

.Login_Box{
    text-align : left;
}

#id_text{
    margin-right: 10px;
    font-weight: 900;
    font-size : 20px;
    color : #C79562;
    margin-bottom: 10px;
}

#pass_text{
    margin-right: 10px;
    font-weight: 900;
    font-size : 20px;
    color : #C79562;
    margin-bottom: 10px;
}

#id_iput{
    border-radius: 10px;
    border-color: #C79562;
    padding: 10px;
    margin-bottom: 10px;
    width: 280px;
}

#password_iput{
    border-radius: 10px;
    border-color: #C79562;
    padding: 10px;
    margin-bottom: 30px;
    width: 280px;
}

.lo_button{
    background-color:#C79562;
    border-radius: 10px;
    border-color:#C79562;
    color: white;
    width: 135px;
    height: 40px;
    margin-right: 30px;
    font-weight: 600;
    cursor: pointer;
}

.jo_button{
    background-color: #C79562;
    border-radius: 10px;
    border-color: #C79562;
    color: white;
    width: 135px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
}

#name_iput{
    border-radius: 10px;
    border-color: #C79562;
    padding: 10px;
    margin-bottom: 30px;
    width: 280px;
}