HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

node_modules
bower_components
src/main/frontend/build/static/css/main.3bef9cb3.css
src/main/frontend/build/static/css/main.3bef9cb3.css.map
src/main/frontend/build/static/js/main.ceae07de.js
src/main/frontend/build/static/js/main.ceae07de.js.LICENSE.txt
src/main/frontend/build/static/js/main.ceae07de.js.map
src/main/resources/static/static/css/main.3bef9cb3.css
src/main/resources/static/static/css/main.3bef9cb3.css.map
src/main/resources/static/static/js/main.83cd1469.js
src/main/resources/static/static/js/main.83cd1469.js.LICENSE.txt
src/main/resources/static/static/js/main.83cd1469.js.map
src/main/resources/static/static/js/main.8af2953d.js
src/main/resources/static/static/js/main.8af2953d.js.LICENSE.txt
src/main/resources/static/static/js/main.8af2953d.js.map
src/main/resources/static/static/js/main.ceae07de.js
src/main/resources/static/static/js/main.ceae07de.js.LICENSE.txt
src/main/resources/static/static/js/main.ceae07de.js.map
