.Join {
  display: flex;
  justify-content: center;
}

.Join_Box {
  text-align: left;
}

.Join_Box div {
  margin-bottom: 1rem;
}

#id_text {
  margin-right: 10px;
  font-weight: 900;
  font-size: 20px;
  color: #c79562;
  margin-bottom: 10px;
}

#pass_text {
  margin-right: 10px;
  font-weight: 900;
  font-size: 20px;
  color: #c79562;
  margin-bottom: 10px;
}

#id_iput {
  border-radius: 10px;
  border-color: #c79562;
  padding: 10px;
  margin-bottom: 10px;
  width: 280px;
}

#password_iput2 {
  border-radius: 10px;
  border-color: #c79562;
  padding: 10px;
  margin-bottom: 10px;
  width: 280px;
}

#password_iput3 {
  border-radius: 10px;
  border-color: #c79562;
  padding: 10px;
  width: 280px;
}

#name_iput {
  border-radius: 10px;
  border-color: #c79562;
  padding: 10px;
  margin-bottom: 30px;
  width: 280px;
}

#notice {
  font-size: 13px;
  color: #b96716;
  font-weight: 900;
}

.jo_button2 {
  background-color: #c79562;
  border-radius: 10px;
  border-color: #c79562;
  color: white;
  width: 305px;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
}
