.App {
  text-align: center;
}

.Toast_logo {
  margin-top: 50px;
  margin-bottom: 20px;
  background-size: contain;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

:root {
  --blue-color: #b7c4cf;
  --beige-color: #eee3cb;
  --light-brown-color: #d7c0ae;
  --dark-brown-color: #967e76;

  --main-font: 500;
  --bold-font: 700;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}

body {
  margin: 0;
}

div .wrap {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.Searchbox{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

input[type=text]{
  width: 700px;
  height: 50px;
  font-size: 22px;
  border: 0;
  border-radius: 25px;
  outline: none;
  padding-left: 30px;
  background-color: rgba(233, 233, 233, 0.955);

}

.fdebate {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 20px;
  height:40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: #61dafb;
  color: #282c34;

  margin: 0;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;

}

.thumbnail {
  margin-top: 100px;
  margin-left: 200px;
  width:200px;
  background-size: cover;
  border-radius: 3%;
}

.factor {
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 200px;
}

.icon {
  background-color: #fff;
  border: 0;
  outline: 0;
  border-radius: 0;
  margin-left: 5px;
}

.container {
  display: flex;
  flex-direction: row;

}

.title {
  font-size: 30px;

}

.contents {
  margin-top: 5px;
  margin-right: 30px;
}

.authors {
  margin-bottom: 10px;
}