.opinionForm select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  font-size: var(--main-font);
  cursor: pointer;

  display: block;
  border: 1px solid var(--dark-brown-color);
  outline: 0;
}
.editorsubmit {
  float: right;
  margin: 0;
}
/* .editorsubmit input {
  background-color: var(--dark-brown-color);
  color: whitesmoke;

  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0.7rem 0;

  cursor: pointer;
  border-radius: 3px;
} */

.btn {
  background-color: var(--dark-brown-color);
  color: whitesmoke;

  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0.5rem 0;

  cursor: pointer;
  border-radius: 3px;
}
