/* 자유토론 */
.userImgfree {
  float: left;
}
.userImgfree div {
  text-align: center;
}
.reactionfree {
  float: right;
  margin-right: 50px;
}
.msgfree {
  border: 3px solid var(--blue-color);
}

/* 찬성일 때 */
.userImgpro,
.getBtn-pro {
  float: left;
}
.userImgpro div {
  text-align: center;
}
.reactionpro {
  float: right;
  /* margin-right: 50px; */
}
.msgpro {
  border: 3px solid var(--blue-color);
}

/* 반대일 때 */
.userImgcon {
  float: right;
}
.userImgcon div {
  text-align: center;
}
.reactioncon {
  float: left;
  /* margin-left: 50px; */
}
.msgcon {
  border: 3px solid var(--dark-brown-color);
}

.msg-container {
  margin: 0 50px;
  padding: 0.5rem;
  border-radius: 5px;
}
.reaction {
  padding: 0.5rem;
  margin: 0 50px;
}
.msg-container h5 {
  margin: 0.2rem;
  font-size: 20px;
}
.reaction span {
  padding-right: 0.5rem;
  cursor: pointer;
}
.reaction button {
  cursor: pointer;

  border: none;
  text-decoration: none;
  background: transparent;
  padding-right: 0.5rem;
}

.reply {
  /* position: absolute; */
  padding: 2rem 3rem;
  margin-top: 0.5rem;
}

.nestedComment-btn {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0 0 50px;
}

.nestedComment-btn span {
  padding-left: 0.3rem;
}

/*찬성 대댓글*/
.getBtn-pro {
  margin-left: 50px;
}

/*반대 대댓글*/
.getBtn-con {
  float: right;
  margin-right: 50px;
}

.chatBox,
.ChatBox-container {
  margin-bottom: 3rem;
}

.commentBox {
  position: relative;
  padding: 1rem 0 0 0;
}

.commetUserImg {
  float: left;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.commentWrap {
  margin: 2rem 2rem;
}

.commentBox .msg-container {
  border-bottom: 1px solid steelblue;
}
