.header {
  background-color: var(--dark-brown-color);
  color: white;
  font-size: var(--bold-font);
  border-radius: 5px;

  width: 100%;
  max-width: 750px;
  max-height: 100px;

  /* display: flex; */
  position: relative;

  margin-top: 1rem;
}

/* logo */
.header a {
  cursor: pointer;
}

.header a img {
  width: 10%;
  position: absolute;
  top: 35%;
  left: 2%;
}

.header span {
  font-size: 20px;
  padding: 1rem 0;

  width: 100%;
  display: flex;
  justify-content: center;
}

.HeaderBtn {
  /* position: absolute; */
  display: flex;
  justify-content: end;
}

.HeaderBtn button {
  background-color: var(--dark-brown-color);
  color: whitesmoke;

  border: none;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 5px;
  margin: 0.7rem;
}
